.DrawerGrid {
    display: grid;
    min-width: 230px;
    grid-template-areas: 
    "Header"
    "Content";
}

.DrawerGrid a {
    text-decoration: none;
}

.DrawerGrid-Header {
    grid-area: Header;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #F44336;
    padding-left: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 125px;
}

.DrawerGrid-Content {
    grid-area: Content;
    display: flex;
    flex-direction: column;
}