.MainContainer {
  height: 100vh;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 105px auto 200px;
  grid-template-areas: 
    "header header header header"
    ". main main ."
    "footer footer footer footer";
}

.MainContentContainer {
  grid-area: main;
}

@media (max-width: 950px) {
  .MainContainer {
    grid-template-areas: 
      "header header header header"
      "main main main main"
      "footer footer footer footer";
  }
  .MainContentContainer {
    padding: 10px;
  }
}
